<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoggerSection" type="dk.gov.oiosi.appConfig.Logger.LoggerSection,dk.gov.oiosi.appConfig" />
  </configSections>

  
  
  <!-- This section defines with logger type to used, and how to configure it -->
  <LoggerSection>
    <!-- Any configuration for a logger, must exist in that loggers app.config-->
    <Logger creator="dk.gov.oiosi.logging.Log4NetCreator,dk.gov.oiosi.logging" />
  </LoggerSection>  
</configuration>