<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <client>
      <!-- The OIOSI RASP HTTP endpoint - Sending -->
      <!-- 
      - name – Must be OiosiHttpEndpoint, as the name is hardcoded in RASP.
      - address – Is retrieved from NemHandelsRegisteret, so can be left empty
      - binding – Must be ‘customBinding’, as it described that we used a custom binding.
      - bindingConfiguration – The name of the binding to use, described in the customConfiguration section 4.3.
      - contact – The contact describing the interface.
      - behaviorConfiguration – The name of the behavior to use, described in section 4.2.
      -->
      <endpoint name="OiosiHttpEndpoint"
                address=""
                binding="customBinding"
                bindingConfiguration="OiosiHttpEndpointBinding"
                contract="dk.gov.oiosi.communication.client.IClientProxyContract"
                behaviorConfiguration="OiosiHttpEndpointBehavior" />
    </client>

    <behaviors>
      <!-- The OIOSI RASP HTTP behavior - Sending -->
      <endpointBehaviors>
        <behavior name="OiosiHttpEndpointBehavior">
          <signCustomHeaders>
            <headers>
              <add name="SenderPartyIdentifier" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
              <add name="SenderPartyIdentifierType" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
              <add name="ReceiverPartyIdentifier" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
              <add name="ReceiverPartyIdentifierType" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
              <add name="MessageIdentifier" namespace="http://rep.oio.dk/oiosi.ehandel.gov.dk/xml/schemas/2007/09/01/" />
            </headers>
          </signCustomHeaders>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <!-- Basic http binding is used to perform lookup calls in NemHandelsRegisteret. -->
        <!-- The endpoint is hard-code implemented in RASP, and the binding must exist here with the name NHR_lookup -->
        <binding name="NHR_lookup" textEncoding="utf-8" maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
      <customBinding>
        <!-- The OIOSI RASP HTTP binding - Sending -->
        <binding name="OiosiHttpEndpointBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00">
          <reliableSession flowControlEnabled="false" ordered="true" maxTransferWindowSize="32" maxPendingChannels="32" />
          <ubiquitousProperties />
          <clientSignatureValidationProofInterceptor />
          <security messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" requireSignatureConfirmation="false">
            <localClientSettings maxClockSkew="00:10:00" />
            <localServiceSettings maxClockSkew="00:10:00" />
            <secureConversationBootstrap>
              <localClientSettings maxClockSkew="00:10:00" />
              <localServiceSettings maxClockSkew="00:10:00" />
            </secureConversationBootstrap>
          </security>
          <clientPartyIdentifierHeader />
          <textMessageEncoding messageVersion="Default" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="200000000" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxReceivedMessageSize="10485760" maxBufferSize="10485760" />
        </binding>
      </customBinding>
    </bindings>

    </system.serviceModel>
</configuration>